.custom-vh {
    height: auto;
}

@media (min-width: 992px) {
    .custom-vh {
        height: 100vh;
    }
}

.intro {
    font-size: 1.2rem;
}

.landing-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/src/landing_bg.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.row {
    color: white;
}